<!DOCTYPE html>
<html>
<head>
    <title>Modbus Communication</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    {% load custom_filters %}
    <form id="config-form" method="POST">
        {% csrf_token %}
        <div class="config-section">
            <div>
                <label for="ip_address">IP Address:</label>
                <input type="text" id="ip_address" name="ip_address" value="{{ config.ip_address }}" disabled>
                <button type="button" id="edit-ip-btn">Change IP</button><br>
                <label for="port">Port:</label>
                <input type="text" id="port" name="port" value="{{ config.port }}" disabled>
                <button type="button" id="edit-port-btn">Change Port</button><br>

                {% for signal in input_signals %}
                <div class="slider-container">
                    <label class="switch">
                        <input type="checkbox" id="{{ signal.name }}" name="{{ signal.name }}" {% if signal.state %}checked{% endif %} onchange="updateWrittenBits()">
                        <span class="slider round"></span>
                    </label>
                    <label class="slider-label" for="{{ signal.name }}">{{ signal.name }}</label>
                </div>
                {% endfor %}

                <label>Program Number:</label>
                <div class="program-control">
                    <button type="button" onclick="changeProgramNumber(-1)">&#9660;</button>
                    <input type="number" id="program_number" name="program_number" value="{{ input_signals.0.program_number }}" min="0" max="255" oninput="updateWrittenBits()">
                    <button type="button" onclick="changeProgramNumber(1)">&#9650;</button>
                </div><br>
            </div>

            <div class="output-section">
            {% for signal in output_signals %}
                <div class="output-item">
                    <span class="indicator {% if signal.state %}green{% else %}red{% endif %}" id="{{ signal.name }}-indicator"></span>
                    <span>{{ signal.name }}</span>
                </div>
            {% endfor %}
            </div>
        </div>

        <button type="submit" formaction="{% url 'update_signals' %}">Update Signals</button>
        <button type="button" id="send-signal-btn">Send Signal</button>
    </form>

    <br>
    <label>Received Bits:</label>
    <textarea id="received_bits" readonly>{{ received_bits }}</textarea><br>
    <label>Bits to be Written:</label>
    <textarea id="written_bits" readonly>{{ written_bits }}</textarea><br>

    <script>
        var input_signals = JSON.parse('{{ input_signals|escapejs|safe }}');
        var output_signals = JSON.parse('{{ output_signals|escapejs|safe }}');
    </script>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>
